on:
  push:
    branches:
      - "**"
  pull_request:

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        prepared_statements: [true, false]
    name: Python 3.9 / ${{ (matrix.prepared_statements && 'w/ prepared statements') || '' }}
    env:
      PREPARED_STATEMENTS: ${{ matrix.prepared_statements }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - run: |
        docker-compose --version
        docker-compose --project-name django-multitenant up -d || { docker-compose logs && false ; }
        docker-compose -f ./single-node-docker-compose.yml --project-name django-multitenant up -d
        pip install tox
        tox
